{% extends 'base.html' %}
{% block content %}

<div class="wrap">
    <div class="container-container">
        <!-- 컨텐츠를 감싸는 컨테이너 -->
        <div class="container">
            <div class="daybox">날짜</div>
            <div class="blank"></div>
            <div class="choice-container">
                <button class="choice">선택 A</button>
                <div class="blank3"></div>
                <button class="choice">선택 B</button>
            </div>
            <div class="blank4"></div>
            <div class="text-container">
                <div class="text-name">이름</div>
                <divclass="text-text">텍스트뭐하지더뭐해야되무</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}