{% extends 'base.html' %}
{% block content %}

<div class="wrap">
    <div class="container-container">
        <div class="container">
            <!-- 로고 텍스트 -->
            <div class="blank"></div>
            <h1 class="logocircle">세인트 키우기</h1>       
            <div class="blank2"></div>
            <!-- btn -->
            <div class="styled-button">
                <button class="styled-button" onClick="location.href='textplay.html'">시작하기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}