{% extends 'base.html' %}
{% block content %}
    <!-- 컨텐츠를 감싸는 컨테이너 -->
    <div class="wrap">
        <div class="container-container">
            <!-- 컨텐츠를 감싸는 컨테이너 -->
            <div class="container">
                <div class="daybox">날짜</div>
                <div class="blank5"></div>
                <button class="text-container">
                    <div class="text-name">이름</div>
                    <div class="text-text">텍스트뭐하지더뭐해야되무</div>
                </button>
            </div>
        </div>
    </div>
{% if next_text %}

    <p>{{ next_text.text }}</p>
    <p>Score: {{ request.session.score }}</p>
    {% if next_text.block == 'A' %}
        <a href="{% url 'kimchi:increase_score' 1 %}">A</a>
        <a href="{% url 'kimchi:increase_score' 2 %}">B</a>
    {% elif next_text.block == 'B' %}
         <h3>선택불가</h3>
    {% endif %}
{% else %}
    <p>끝</p>
{% endif %}
<a href="{% url 'kimchi:textplay' %}">다음</a>
<a href="{% url 'kimchi:textplay_reset' %}">처음으로</a>
{% endblock %}
