{% extends 'base.html' %}
{% block content %}
<p>Score: {{ request.session.score }}</p>
    <div class="base-container">
        <div class="daybox">날짜</div>
        <button class="reset" onclick="window.location.href='{% url 'kimchi:textplay_reset' %}'">처음으로</button>
    </div>  

    <div class="blank4"></div>

    <div class="choice-container">
        {% if next_text %}
            {% if next_text.block == 'A' %}        
            <button class="choice" onclick="window.location.href='{% url 'kimchi:increase_score' 2 %}'">그래</button>
            <div class="blank3"></div>
            <button class="choice" onclick="window.location.href='{% url 'kimchi:increase_score' 1 %}'">싫어</button>
            {% elif next_text.block == 'B' %}
            <div class="blank2"></div>
            {% endif %}
        {% endif %}
    </div>

    <div class="blank5"></div>

        {% if next_text.block == 'A' or next_text.block == 'B' %}    
        <button class="text-container">
            <div class="text-name">이름</div>
            <div class="text-text" onclick="window.location.href='{% url 'kimchi:textplay' %}'">텍스트뭐하지더뭐해야되무</div>
        </button>
        {% else %}
        <div class="theend-container">
            <button class="theend" onclick="window.location.href='{% url 'kimchi:end' %}'">GG</button>
        </div>
    {% endif %}

{% endblock %}