/* 스타일 시트 (style.css) */
.wrap {
  height: 100vh;
  font-family: 'Gowun Batang', serif;
}


.container-container {
  width: 100%;
  height: 100%;
}


.container {
  background-size: 390px 844px;
  background-color: #3C465C;
  width: 390px;
  height: 100%;
  margin: 0 auto;
}


/* 로고 스타일 설정 */
.logocircle {
  font-size: 35px;
  height: 100px;
  width: 300px;
  background-color: lightgray;
  color: black;
  border: .07em solid black;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
}


/* 시작하기 버튼 스타일 설정 */
.start_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 150px;
  margin: 0 auto; 
  background-color: white;
  color: black;
  border: .10em solid black;
  border-radius: 5em;
  font-size: 1.6em;
  cursor: pointer;
  font-family: 'Gowun Batang', serif;

  &:hover {
    animation: jelly 0.5s;
  }
}


@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}


.blank {
  height: 20%;
}


.blank2 {
  height: 210px;
}


.blank3 {
  height: 30px;
}

.blank4 {
  height: 10%;
}

.blank5{
  height: 30%;
}


.base-container {
  display: flex;
  align-items: center;
}

.reset {
  position: relative;
  font-size: 16px;
  width: 80px;
  height: 40px;
  left: 200px;
  top: 10px;
  background-color: lightgray;
}

.daybox {
  position: relative;
  font-size: 30px;
  width: 70px;
  height: 40px;
  left: 10px;
  top: 10px;
  background-color: lightgray;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}



/* 선택창 스타일 설정 */
.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.choice {
  font-size: 24px;
  height: 90px;
  width: 200px;
  background-color: lightgray;
  color: black;
  text-align: center;
}




/* 텍스트창 스타일 설정 */
.text-container {
  display: flex;
  height: 150px;
  width: 330px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
}

.text-name {
  position: relative;
  height: 10%;
  left: 10px;
  top: 10px;
  color: black;
}

.text-text {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}