/* 스타일 시트 (style.css) */
.wrap {
  height: 100vh;
}


.container-container {
  width: 100%;
  height: 100%;
  font-family: 'Gowun Batang', serif;
}


.container {
  background-size: 390px 844px;
  background-color: #3C465C;
  width: 390px;
  height: 100%;
  margin: 0 auto;
}


/* 날짜 스타일 설정 */
.daybox {
  position: relative;
  font-size: 30px;
  width: 70px;
  height: 40px;
  left: 10px;
  top: 10px;
  background-color: lightgray;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}


/* 로고 스타일 설정 */
.logocircle {
  font-size: 35px;
  height: 100px;
  width: 300px;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 100px;
}


/* 버튼 스타일 설정 */
.styled-button {
  position: relative;
  margin: 0 auto;
  height: 75px;
  width: 150px;
  background-color: #3C465C;
  color: #78FFCD;
  border: .10em solid #78FFCD;
  border-radius: 5em;
  font-size: 1.3em;
  line-height: 2em;
  cursor:pointer;
  font-family: 'Gowun Batang', serif;
}

.dot {
  content: '';
  position: absolute;
  top: 0;
  width: 70px;
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
  display: none;
}

.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: #78FFCD;
  border-radius: 1em;
  border: .10em solid #fff;
  box-shadow: 0 0 .3em #fff, 0 0 0.7em #78FFCD;
}

.styled-button:hover .dot, .styled-button:focus .dot {
  animation:  atom 2s infinite linear;
  display: block;
}

@keyframes atom {
  0% {transform: translateX(0) rotate(0);}
  30%{transform: translateX(75px) rotate(0);}
  50% {transform: translateX(75px) rotate(180deg);}
  80% {transform: translateX(0) rotate(180deg);}
  100% {transform: translateX(0) rotate(360deg);}
}


.blank {
  height: 20%;
}


.blank2 {
  height: 270px;
}


.blank3 {
  height: 50px;
}

.blank4 {
  height: 90px;
}

.blank5{
  height: 65%;
}


/* 선택창 스타일 설정 */
.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choice {
  height: 90px;
  width: 200px;
  background-color: lightgray;
  color: black;
}


/* 텍스트창 스타일 설정 */
.text-container {
  height: 150px;
  width: 330px;
  background-color: lightgray;
  color: black;
  margin: 0 auto;
}

.text-name {
  position: relative;
  height: 10%;
  width: 60px;
  left: 10px;
  top: 10px;
  color: black;
}

.text-text {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
}