/* 스타일 시트 (style.css) */
.container {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgKIsgMTnncpDX5c683rH-k6OAT5FhxuzrR0OKmL0XMA&s');
  background-size: 390px 844px;
  width: 390px;
  height: 844px;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}


/* 날짜 스타일 설정 */
.daybox {
  position: relative;
  font-size: 30px;
  width: 70px;
  height: 40px;
  left: 10px;
  top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}


/* 로고 스타일 설정 */
.logocircle {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  color: black;
  border-radius: 50%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 140px;
}


/* 버튼 스타일 설정 */
.styled-button {
  font-size: 30px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
}


.blank {
  height: 100px;
}

.blank2 {
  height: 160px;
}