/* 스타일 시트 (style.css) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 가운데 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 높이 전체를 사용하여 가운데 정렬 */
}


/* 버튼 스타일 설정 */
.styled-button {
  /* 폰트 설정 */
  font-family: Arial, sans-serif;
  font-size: 40px; /* 폰트 크기 설정 */
  /* 크기 설정 */
  width: 211px;
  height: 90px;
  /* 텍스트를 수평 가운데 정렬합니다 */
  align-items: center;
  /* 가운데 정렬 */
  text-align:center;
  /* 배경색과 텍스트 색 설정 */
  background-color: gray;
  color: #ffffff;
  /* 다양한 스타일 설정 */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* 로고 스타일 설정 */
.logocircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 143px;
  background-color: #007bff; /* 동그라미의 배경색 */
  border-radius: 50%; /* 이 속성으로 요소를 동그라미 모양으로 만듭니다. */
}


.yas {
  height: 180px;
}